<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <h2>ADD NEW BLOG POST</h2>


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form method="POST">

                    <label for="P_UName" class="form-label"> AuthorName :</label>
                    <input class="form-control mb-3" type="text" placeholder="Enter Author Name" id="P_UName" name="P_UName" >

                    <label for="P_Title" class="form-label">BlogTitle :</label>
                    <input class="form-control mb-3" type="text" placeholder="Enter Blog Title" id="P_Title" name="P_Title" >

                    <label for="P_Post" class="form-label">Blog :</label>
                    <input class="form-control mb-3" type="text" placeholder="" id="P_Post" name="P_Post" >

                    <input type="submit" value="ADD">

                </form>
            </div>
        </div>
    </div>

</body>
</html>
