<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
        h1 {text-align: center;}
    </style>
</head>
<body >  
    <h1 style="color:rgb(3, 0, 5) ">Your Posts</h1>
    <tbody>
        {% for post in data %}
        <tr>
            <td>{{post[0]}}</td>
            <td>{{post[1]}}</td> 
            <td>{{post[2]}}</td>
            <td>{{post[3]}}</td>
        </tr>
        <br>
        {% endfor%}
    </tbody>
    
</body>
 

</html>